@media (max-width: 575px) {
    .border-left-xs-none {
        border-left: none !important
    }
}

.card-width {
    min-width: 15rem;
    max-width: 15rem;
}

input[name="product-card"] {
    top: 8px;
    left: 8px;
}
